html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;

    min-height: 100vh;
    background: url('../images/overlay.png'),
        linear-gradient(to bottom right, $color-bg-primary, $color-bg-secondary);
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-size: 3.5rem;
}
